---
name: home
url: /
---

<div class="grid-container">
  <h1 class="logo">3 Elements Chiropractic & Wellness, PLLC</h1>
  <p class="lead instruction">Request an appointment time online:</p>


  <!--Basic User Form Input Div -->
  <div class="grid-block">
    <div class="grid-container">
      <div class="basic-form">
        <form>
          <label for="firstname">First Name:</label>
          <input type="text" name="firstname" placeholder="Jane">

          <label for="lastname">Last Name:</label>
          <input type="text" name="lastname" placeholder="Doe">

          <label for="birthday">Birthday:</label>
          <input type="date" name="birthday">

          <label for="phonenumber">Phone:</label>
          <input type="tel" name="phonenumber" placeholder="555-555-5555">

          <label for="email">Email:</label>
          <input type="email" name="email" placeholder="You@Email.com">

          <label for="email">Preferred Contact Method:</label>

          <ul class="button-group segmented">
            <li>
              <input type="radio" name="method" value="email" id="contactmethodemail" checked="">
              <label for="contactmethodemail">Email</label>
            </li>
            <li>
              <input type="radio" name="method" value="phone" id="contactmethodphone">
              <label for="contactmethodphone">Phone</label>
            </li>
          </ul>
        </form>

      </div>
    </div>
  </div>
  <!--End Basic User Form Input Div -->

  <!--Progress Bar Start -->
  <div class="grid-block">
    <progress class="high" value="33" max="100"></progress>
  </div>
  <!--End Progress Bar -->
  <div>
    <a class="button disabled prev" ui-sref="home">Prev</a>
    <a class="button next" ui-sref="appt-time" class="btn">Next</a>
  </div>
</div>
